@page "/Food_incluir"
@using CadastroFoodsWasm.Helpers;
@using CadastroFoodDll.DOs;
@inject NavigationManager NavigationManager

<PageTitle>New Food</PageTitle>

<main>
    <div>
        <div>
            <label class="form-label">Name</label>
            <input class="form-control" @bind="@food.Name" />
        </div>

        <div>
            <label class="form-label">Description</label>
            <input class="form-control" @bind="@food.Description" />
        </div>
        
        <div>
            <label class="form-label">Weight</label>
            <input class="form-control" @bind="@food.Weight" />
        </div>
        
        <div>
            <label class="form-label">Time</label>
            <input class="form-control" @bind="@food.Time" />
        </div>

        <div>
            <label class="form-label">Preparation</label>
            <input class="form-control" @bind="@food.Preparation" />
        </div>

        <div class="mt-2">
            <button class="btn btn-success" @onclick="Gravar">Register</button>
            <a class="ml-1 btn btn-secondary" href="./Foods">Back</a>
        </div>
    </div>
</main>

@code {
    private FoodDO food = new();
    
    private AcessoApi<FoodDO> apiFood = new("api/Food");

    private async void Gravar()
    {
        await apiFood.InserirAsync(food);

        NavigationManager.NavigateTo($"Foods");
    }
}
