@page "/Food_incluir"
@using CadastroFoodsWasm.Helpers;
@using CadastroFoodDll.DOs;
@inject NavigationManager NavigationManager

<PageTitle>New Food</PageTitle>

<main>
    <div>
        <div>
            <label class="form-label">Name</label>
            <input class="form-control" @bind="@obj.Name" />
        </div>

        <div>
            <label class="form-label">Description</label>
            <input class="form-control" @bind="@obj.Description" />
        </div>
        
        <div>
            <label class="form-label">Weight</label>
            <input class="form-control" @bind="@obj.Weight" />
        </div>
        
        <div>
            <label class="form-label">Time</label>
            <input class="form-control" @bind="@obj.Time" />
        </div>

        <div>
            <label class="form-label">Preparation</label>
            <input class="form-control" @bind="@obj.Preparation" />
        </div>

        <div class="mt-2">
            <button class="btn btn-success" @onclick="Gravar">Register</button>
            <a class="ml-1 btn btn-secondary" href="./Foods">Back</a>
        </div>
    </div>
</main>

@code {
    private AcessoApi<FoodDO> api = new("api/Food");

    private FoodDO obj = new();

    [Parameter]
    public string Id { get; set; } = "";

    private async void Gravar()
    {
        await api.InserirAsync(obj);

        NavigationManager.NavigateTo($"Foods");
    }
}
