@page "/Foods"
@using CadastroFoodsWasm.Helpers;
@using CadastroFoodsWasm.Models;
@using CadastroFoodDll.DOs;
@using CadastroIngredientDll.DOs

<PageTitle>Buy</PageTitle>

<main>
    @if (foods == null)
    {
        <p><em>Carregando...</em></p>
    }
    else
    {
        <div class="include-organization">
            <a class="newButton" href=@($"./ingredient/include")>
                New Ingredient
            </a>

            <a class="newButton" href=@($"./Food_incluir")>
                New Food
            </a>
            
            <button class="newButton iconButton" @onclick="() => Switch()">
                    <lord-icon
                        src="https://cdn.lordicon.com/nxooksci.json"
                        trigger="hover"
                        colors="primary:#fff"
                        state="hover"
                        target="button"
                    >
                    </lord-icon>
            </button>
        </div>

        @if (!switchTable)
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Weight</th>
                    <th>Time</th>
                    <th>Preparation</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var food in foods)
                {
                    <tr>
                        <td>@food.Name</td>
                        <td>@food.Description</td>
                        <td>@food.Weight.ToString("N2")</td>
                        <td>@food.Time.ToString("N2")</td>
                        <td>@food.Preparation</td>
                        <td>
                            <a class="tableButton tbAlt" href=@($"./food/alter/{food.Id}")>
                                <lord-icon
                                    src="https://cdn.lordicon.com/frjgvxce.json"
                                    trigger="hover"
                                    colors="primary:#fff"
                                    state="hover-2"
                                    target="a"
                                >
                                </lord-icon>
                            </a>
                        </td>
                        <td>
                            <button class="tableButton tbEx" @onclick="() => ExcluirFood(food.Id)">
                                <lord-icon
                                        src="https://cdn.lordicon.com/jmkrnisz.json"
                                        trigger="morph"
                                        colors="primary:#fff"
                                        state="morph-fill"
                                        target="button"
                                >
                                </lord-icon>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ingredient in ingredients)
                {
                    <tr>
                        <td>@ingredient.Name</td>
                        <td>@ingredient.Weight.ToString("N2")</td>
                        <td>
                            <a class="tableButton tbAlt" href=@($"./ingredient/alter/{ingredient.Id}")>
                                <lord-icon
                                    src="https://cdn.lordicon.com/frjgvxce.json"
                                    trigger="hover"
                                    colors="primary:#fff"
                                    state="hover-2"
                                    target="a"
                                >
                                </lord-icon>
                            </a>
                        </td>
                        <td>
                            <button class="tableButton tbEx" @onclick="() => ExcluirIngredient(ingredient.Id)">
                                <lord-icon
                                    src="https://cdn.lordicon.com/jmkrnisz.json"
                                    trigger="morph"
                                    colors="primary:#fff"
                                    state="morph-fill"
                                    target="button"
                                >
                                </lord-icon>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    } 
</main>


@code {
    public bool switchTable;

    private IList<FoodDO>? foods;
    private IList<IngredientDO>? ingredients;
    
    private AcessoApi<FoodDO> apiFood = new("api/Food");
    private AcessoApi<IngredientDO> apiIngredient = new("api/Ingredient");
    
    protected async override Task OnInitializedAsync()
    {        
        foods = await apiFood.RetornarTodosAsync();
        ingredients = await apiIngredient.RetornarTodosAsync();
    }

    private async void ExcluirFood(string? id)
    {
        if (id != null)
        {
            await apiFood.ExcluirAsync(id);
            foods = await apiFood.RetornarTodosAsync();
            this.StateHasChanged();
        }
    }

    private async void ExcluirIngredient(string? id)
    {
        if (id != null)
        {
            await apiIngredient.ExcluirAsync(id);
            ingredients = await apiIngredient.RetornarTodosAsync();
            this.StateHasChanged();
        }
    }
    
    private void Switch()
    {
        switchTable = !switchTable;
    }
}
