@page "/Foods"
@using CadastroFoodsWasm.Helpers;
@using CadastroFoodsWasm.Models;
@using CadastroFoodDll.DOs;
@using CadastroIngredientDll.DOs

<PageTitle>Buy</PageTitle>

<main>
    @if (objetos == null)
    {
        <p><em>Carregando...</em></p>
    }
    else
    {
        <div class="include-organization">
            <a class="newButton" href=@($"./ingredient/include")>
                New Ingredient
            </a>

            <a class="newButton" href=@($"./Food_incluir")>
                New Food
            </a>
            
            <button class="newButton iconButton" @onclick="() => Switch()">
                    <lord-icon
                        src="https://cdn.lordicon.com/nxooksci.json"
                        trigger="hover"
                        colors="primary:#fff"
                        state="hover"
                        target="button"
                    >
                    </lord-icon>
            </button>
        </div>

        @if (isFood)
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Weight</th>
                    <th>Time</th>
                    <th>Preparation</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var obj in objetos)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.Description</td>
                        <td>@obj.Weight.ToString("N2")</td>
                        <td>@obj.Time.ToString("N2")</td>
                        <td>@obj.Preparation</td>
                        <td>
                            <a class="tableButton tbAlt" href=@($"./food/alter/{obj.Id}")>
                                <lord-icon
                                    src="https://cdn.lordicon.com/frjgvxce.json"
                                    trigger="hover"
                                    colors="primary:#fff"
                                    state="hover-2"
                                    target="a"
                                >
                                </lord-icon>
                            </a>
                        </td>
                        <td>
                            <button class="tableButton tbEx" @onclick="() => Excluir(obj.Id)">
                                <lord-icon
                                        src="https://cdn.lordicon.com/jmkrnisz.json"
                                        trigger="morph"
                                        colors="primary:#fff"
                                        state="morph-fill"
                                        target="button"
                                >
                                </lord-icon>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ingredient in ingredients)
                {
                    <tr>
                        <td>@ingredient.Name</td>
                        <td>@ingredient.Weight.ToString("N2")</td>
                        <td>
                            <a class="tableButton tbAlt" href=@($"./ingredient/alter/{ingredient.Id}")>
                                <lord-icon
                                    src="https://cdn.lordicon.com/frjgvxce.json"
                                    trigger="hover"
                                    colors="primary:#fff"
                                    state="hover-2"
                                    target="a"
                                >
                                </lord-icon>
                            </a>
                        </td>
                        <td>
                            <button class="tableButton tbEx" @onclick="() => ExcluirI(ingredient.Id)">
                                <lord-icon
                                    src="https://cdn.lordicon.com/jmkrnisz.json"
                                    trigger="morph"
                                    colors="primary:#fff"
                                    state="morph-fill"
                                    target="button"
                                >
                                </lord-icon>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    } 
</main>


@code {
    protected async override Task OnInitializedAsync()
    {        
        objetos = await api.RetornarTodosAsync();
        ingredients = await apiI.RetornarTodosAsync();
    }

    public bool isFood = true;

    private AcessoApi<FoodDO> api = new AcessoApi<FoodDO>("api/Food");
    private AcessoApi<IngredientDO> apiI = new AcessoApi<IngredientDO>("api/Ingredient");

    private IList<FoodDO>? objetos;
    private IList<IngredientDO>? ingredients;
    
    private FoodDO objetoAtual = new FoodDO();

    private void Alterar(FoodDO objeto)
    {
        objetoAtual = new FoodDO 
        {
            Id = objeto.Id, 
            Name = objeto.Name, 
            Description = objeto.Description,
            Weight = objeto.Weight,
            Time = objeto.Time,
            Preparation = objeto.Preparation
        };
    }

    private async void Excluir(string? id)
    {
        if (id != null)
        {
            await api.ExcluirAsync(id);
            objetos = await api.RetornarTodosAsync();
            this.StateHasChanged();
        }
    }

    private IngredientDO ingredientAtual = new IngredientDO(); 
    
    private void AlterarI(IngredientDO objeto)
    {
        ingredientAtual = new IngredientDO() 
        {
            Id = objeto.Id, 
            Name = objeto.Name,
            Weight = objeto.Weight,
        };
    }

    private async void ExcluirI(string? id)
    {
        if (id != null)
        {
            await apiI.ExcluirAsync(id);
            ingredients = await apiI.RetornarTodosAsync();
            this.StateHasChanged();
        }
    }
    
    private void Switch()
    {
        isFood = !isFood;
    }
}
